{% extends 'base.html' %}

{% block head %}
<title>Machine Translation</title>
{% endblock %}

{% block body %}
<head></head>
<div class="container">
    <h3>Language Translation</h3>
<form action="{{url_for('predict')}}"  method="POST">
    <div class = "form-group">
        <label for="usr">English Sentence:</label>
        <input class="form-control" type="text" placeholder="Text in English" name="eng">
        <br>
        <button type="submit" class="btn btn-success" value="Post">Translate</button>

    </div>
</form>
</div>
<br><br>
<div class="container">
    <h4>Predicted Sentence : {{spa}}</h4>
</div>

{% endblock %}